@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    color: white;
}


.fade-in {
    animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(50vh);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.loginContainer {
    display: flex;
    height: 100vh;
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    background: linear-gradient(135deg, #3b82f6, #ff5e57); 
}

.loginContainer.fade-slide-in {
    opacity: 1;
}

.backIcon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 999;
}

.backIcon:hover {
    color: #ffffffb3;
}

.leftSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: #ffffff;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.login-logo {
    width: 120px;
}

.login-logo-text {
    font-size: 3rem;
    font-weight: 700;
    margin-left: 15px;
}

.rightSection {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.loginBox {
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    justify-items: center;
    align-content: center;
}

.loginTitle {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
}

.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.inputGroup label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin-bottom: 6px;
}

.inputGroup input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
}

.inputGroup input:focus {
    outline: none;
    border-color: #3b82f6;
}

.inputGroup button {
    padding: 8px 16px;
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.inputGroup button:hover {
    background-color: #2563eb;
}


.password-toggle {
    background: none;
    border: none;
    color: #3b82f6;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

.password-toggle:hover {
    color: #2563eb;
}

.loginButton {
    padding: 12px;
    background-color: #7ed957;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.loginButton:hover {
    background-color: #69c044;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
    color: #333;
    align-self: center;
}

.register-link .register-action {
    color: #3b49df;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.register-link .register-action:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .loginContainer {
        flex-direction: column;
    }

    .rightSection {
        padding-left: 30px;
    }

    .loginBox {
        width: 90%;
        max-width: 350px;
    }

    .inputGroup input {
        font-size: 14px;
    }

    .login-logo-text {
        font-size: 2.5rem;
    }
}



.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.login-logo {
    width: 120px;
}

.login-logo-text {
    font-size: 3rem;
    font-weight: 700;
    margin-left: 15px;
    color: #333; 
}

