@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    color: white;
}

.fade-in {
    animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(50vh);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.loginContainer {
    display: flex;
    height: 90vh;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.loginContainer.fade-slide-in {
    transform: translateY(0);
    opacity: 1;
}

.backIcon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
    z-index: 999;
}

.backIcon:hover {
    color: #00000049;
}

.leftSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: black;
    text-align: center;
}

.logoContainer {
    margin-bottom: 30px;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.login-logo-text {
    font-size: 55px;
}

.login-logo {
    width: 100px;
}

.slogan h2 {
    margin: 0;
    font-size: 32px;
    color: #fff;
}

.slogan h2 strong {
    color: #fff;
}

.rightSection {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.loginBox {
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-items: center;
    align-content: center;
}

.loginTitle {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgb(82, 82, 82);
    text-align: left;
}

.inputGroup {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
    width: 100%;
}

.inputGroup .label-one,
.inputGroup .label-two {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.label-one {
    background-color: #3c7fd2;
}

.label-two {
    background-color: #ea6c4b;
}

.inputGroup input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #000;
    font-size: 16px;
}

.inputGroup input,
.password-input-wrapper {
    flex: 1;
}

.loginButton {
    margin-top: 10px;
    padding: 12px;
    background-color: #7ed957;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90%;
    align-self: center;
}

.loginButton:hover {
    background-color: #69c044;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
    color: #000;
    align-self: center;
}

.register-link .register-action {
    color: #3b49df;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.register-link .register-action:hover {
    text-decoration: underline;
}

.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-input-wrapper input {
    width: 100%;
    padding-right: 40px;
    /* space for eye icon */
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #000;
    font-size: 16px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #555;
    font-size: 18px;
}