.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 5%;
  background-color: transparent;
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  z-index: 99;
}

.sidebar-container{
  width: 90%;
  border-style: solid;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.192);
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  margin: auto;
}

.sidebar-title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  user-select: none;
  text-align: center;
  white-space: nowrap;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-list li {
  padding: 1px;
  margin: auto;
  width: 100%;
  position: relative;
}

.sidebar-link {
  display: flex;
  color: #555;
  font-size: 1.1rem;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: visible;
  transition: width 0.3s ease, background-color 0.25s ease;
  margin: auto;
}


.sidebar-link .link-text {
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  margin-left: 20px;
  font-weight: 600;
  color: transparent;
}

.sidebar-link:hover {
  background-color: transparent;
  position: relative;
  z-index: 0;
}


.sidebar-link:hover .link-text {
  background-color: #000000c4;
  color: white;
  padding: 10px;
  margin-left: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  align-self: center;
  opacity: 1;
  pointer-events: auto;
}

.sb-logo{
  width: 35px;
  filter: invert(1);
  align-self: center;
  object-fit: contain;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-link .icon {
  align-items: center;
  align-content: center;
  align-self: center;
}